.Satellites_satelliteWidget {
	width: 100%;
	height: 100%;
	color: #d1d1d1;
	padding: 5px;
	box-sizing: border-box;
	overflow-y: hidden;
	overflow-x: scroll;
}

.Satellites_satelliteContainer {
	width: 100%;
	display: flex;
	align-items: flex-start;
	padding: 5px;
}

.Satellites_tile {
	width: 150px;
	height: 150px;
	display: block;
	margin-right: 15px;
	margin-top: 15px;
	background-color: #8d9191;
	padding: 3px;
	box-sizing: border-box;
}

.Satellites_tile_deviceName {
	font-family: var(--readable);
}

.Satellites_tile_muteUnmute {
	width: 100%;
	height: 80px;
	text-align: center;
	vert-align: middle;
	margin-top: 15px;
	display: block;
}

.Satellites_tile_heartbeat {
	width: 100%;
	text-align: right;
}
