.Satellites_tile_deviceName { font-family: var(--readable); }

.Satellites_tile_muteUnmute {
	width: 100%;
	height: 5em;
	text-align: center;
	margin-top: 1em;
	display: block;
	cursor: pointer;
}

.Satellites_tile_heartbeat {
	width: 100%;
	text-align: right;
}

.Satellites_satelliteWidget .tile {
	width: 9.5em;
	height: 9.5em;
	padding: .3em;
	background-color: var(--secondary);
	box-sizing: border-box;
	box-shadow: none;
	display: flex;
}
